# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# ignore oversized local video files that should not be committed
/src/shared/assets/video/HomePage/Luxury collections 1.mov
/src/shared/assets/video/Luxury wedding 1 pool A .mov

npm-debug.log*
yarn-debug.log*
yarn-error.log*
