.footer-logo {
  width: 750px;
  max-width: 90%;
  height: auto;
}

@media (max-width: 768px) {
  .footer-logo {
    width: 180px;
  }
}

@media (max-width: 480px) {
  .footer-logo {
    width: 150px;
  }
}
