/* Dropdown Container */
.profile-dropdown {
  position: absolute;
  top: 60px;
  right: 10px;
  width: min(250px, 92vw);
  background: #fff;
  border-radius: 14px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
  z-index: 1000;
  overflow: hidden;
  animation: dropdownFade 0.25s ease;
  padding: 10px;
}

@media (max-width: 576px) {
  .dropdown-item {
    gap: 12px;
    padding: 10px 14px;
  }
}

/* Header */
.dropdown-header {
  padding: 16px 20px; /* 🔥 more space */
  background: #fafafa;
  border-bottom: 1px solid #eee;

}

.dropdown-header strong {
  font-size: 16px;
  color: #333;
}

.dropdown-role {
  font-size: 13px;
  color: #888;
  margin-top: 4px;
}

/* Items */
.dropdown-item {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 2px 20px; /* 🔥 bigger padding */
  font-size: 15px;
  cursor: pointer;
  transition: all 0.2s ease;
}

/* Hover */
.dropdown-item:hover {
  background: #f5f5f5;
  /* padding-left: 24px; */
}

/* Divider */
.dropdown-divider {
  height: 1px;
  background: #eee;
  margin: 8px 0; /* 🔥 spacing between sections */
}

/* Logout */
.logout {
  color: #e63946;
  font-weight: 500;
}

/* Animation */
@keyframes dropdownFade {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}